.box {
    background-color: dodgerblue;
    padding: 10px 50px 5px 0;
    /* padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 0px; */
    margin: 10px;
}

.box {
    border: 10px solid rgb(185, 10, 10);

    border-width: 10px;

    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;

    border-style: solid;
    
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom: dotted;
    border-left-style:groove;

    border-color: #333;

    border-top-color: red;
    border-right-color: yellow;
    border-bottom-color: green;
    border-left-color: black;
}