.one, .child {
    height: 200px;
    width: 200px;
}

.one {
    background-color: red;
    /* z-index: -2; */
    /* position: relative; */
}

.two {
    width: 500px;
    height: 500px;
    background-color: blue;
    /* position: relative; */
}

.child {
    background-color: green;
}

.one {
    /* position: relative; */
    /* top: 400px; */
    /* left: 200px; */
    position: sticky;
    top: 100px;

}

.child {
    /* position: absolute; */
    /* top: 300px; */
    /* right: -200px; */

    /* position: relative; */
    /* z-index: -1; */
    /* top: -100px; */
    /* left: 100px; */

}

body {
    height: 2000px;
}
