/* web safe font */
p {
    font-family:Arial, Helvetica, sans-serif;
}

/* import from website */
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

p {
    font-family: 'Gluten', cursive;
}

/* import from local file */
@font-face {
    font-family: "Gluten";
    src: url("./Gluten-VariableFont_wght.ttf");
}

p {
    font-family: 'Gluten', serif;
}

/* font size */
p {
    font-size: 16px;
}

/* font weight */
p {
    font-weight: 900;
    font-weight: bold;
}

/* letter spacing */
p {
    letter-spacing: 10px;
    letter-spacing: -5px;
}

/* line height */
p {
    line-height: 2;
}

/* text decoration */
p {
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
}

/* text transform */
p {
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: uppercase;
}

/* text align */
p {
    text-align: left;
    text-align: center;
    text-align: right;
}

/* font style */
p {
    font-size: italic;
}