.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50% auto;

    animation: simple 1s ease-in-out .5s infinite both alternate;
}

@keyframes simple {
    0% {
        transform: translate(0) scale(2);
    }    
    50% {
        transform: translate(100px, -100px);
    }
    100% {
        background-color: blue;
    }
}